body{
    background-color: white;
    color: darkslategray;
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 50px;
    background-color: lightcoral;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.nav-ele{
    font-size: large;
    margin: 0 7px 0 7px;
}

#line{
    margin: 0;
    color: darkcyan;
}

.nav-ele a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-ele a:hover{
    font-weight:  bold;
    border-bottom: 1px solid darkcyan;
}

td, th{
    border: 2px solid black;
}
table{
    width: 70%;
    border-collapse: collapse;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-ele{
    margin: 10px 0 10px 0;
}
#form-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn{
    margin-top: 10px;
    color: whitesmoke;
    padding: 3px;
    text-decoration: none;
    border: 1px solid darkcyan;
    border-radius: 5px;
    background-color: darkcyan;
}

#btn:hover{
    cursor: pointer;
}

.main{
    margin-top: 100px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    padding: 20px;
}