body{
    background-image: url("../images/background.jpg");
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

header{
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.nav-ele{
    font-size: large;
    margin: 0 7px 0 7px;
}

#line{
    margin: 0;
    color: darkslategrey;
}

.nav-ele a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-ele a:hover{
    font-weight:  bold;
    border-bottom: 1px solid darkcyan;
}

td, th{
    border: 2px solid black;
}
table{
    width: 70%;
    border-collapse: collapse;
}
section{
    margin-top: 100px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-ele{
    padding : 4px;
    padding-left: 10px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    border: 1px solid #eee;
    margin: 10px 0 10px 0;
    width: 300px;
    height: 35px;
    border-radius: 15px;
    background-color: lightgrey;
}
#form-user{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#btn{
    margin-top: 10px;
    color: white;
    padding: 3px;
    text-decoration: none;
    border: 1px solid darkcyan;
    border-radius: 15px;
    background-color: darkcyan;
}

#btn:hover{
    cursor: pointer;
    background-color: darkslategrey;
}

.container{
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: darkslategrey;
    background-color: white;
    margin-top: auto;
    border-radius: 20px;
    /*padding: 100px 60px;*/
}


#img{
    border: 5px solid darkslategrey;
    border-radius: 100%;
    height: auto;
    width: auto;
    max-height: 300px;
    max-width: 350px;
}

#img:hover{
    cursor: pointer;
    transform: scale(102%);
}

#creer-compte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#a{
    text-decoration: none;
    font-size: small;
    color: darkslategray;
}

#a:hover{
    transform: scale(102%);
}
.error{
    color: red;
}