#choix-mode{
    text-align: center;
}


li{
    list-style-type: none;
}

#mrg{
    margin-right: 30px;
}

.choix{
    position: relative;
    bottom: 150px;
    right: 15px;
    margin: 15px;
}

.choix a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    background-color: darkcyan;
}

.choix :hover{
    background-color: darkslategray;
}

