

#choix-mode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


li{
    list-style-type: none;
}

#mrg{
    margin-right: 30px;
}
.choix{
    position: relative;
    right: 20px;
    margin: 15px;
}

.choix a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    background-color: darkcyan;
}

.choix :hover{
    background-color: darkslategray;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 600px;
    height: 300px;
    background-color: white;
    color: darkslategray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    align-items: center;
}

p{
    text-align: center;
}